.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.add-todo {
  display: flex;
  &-input {
    width: 80%;
    background-color: gray;
    color: #fff;
    border: 0;
    &::placeholder{
      color: #fff;
    }
  }
  
  &-submit {
    width: 20%;
    background-color: steelblue;
    border: 0;
    color: white;
    cursor: pointer;
  }
}